<mat-card class="card-wrapper" >
  <mat-card-title>
      <span
        *ngIf="reminder.finished"
        class="finished-chip"
      >
        FINISHED
      </span>
      <span class="title">{{reminder.title}}</span>
    <hr>
  </mat-card-title>

  <mat-card-content>
    <div class="time-wrapper">
      <mat-icon>date_range</mat-icon>
      <span class="time">{{reminder.date}}</span>
      <mat-icon>access_time</mat-icon>
      <span class="time">{{reminder.time}}</span>
    </div>
    <div>
      <span>{{reminder.description}}</span>
    </div>
  </mat-card-content>

  <mat-card-actions class="btn-container">
    <button mat-button (click)="finish()" *ngIf="!reminder.finished">
      <mat-icon>done</mat-icon>
      <span>FINISH</span>
    </button>
    <button mat-button (click)="remove()">
      <mat-icon>delete</mat-icon>
      <span>REMOVE</span>
    </button>
  </mat-card-actions>
</mat-card>
