<h1 mat-dialog-title>New reminder</h1>

<form mat-dialog-content class="form-wrap">
  <mat-form-field class="form-field">
    <input matInput
           required
           type="text"
           placeholder="Add title"
           [(ngModel)]="reminder.title"
           [ngModelOptions]="{standalone: true}"
    />
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-chip-list #tagsList>
      <mat-chip *ngFor="let tag of reminder.tags"
                [removable]="removable"
                (remove)="removeTag(tag)"
      >
        {{tag}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Add tags"
             [matChipInputFor]="tagsList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="addTag($event)"
      />
    </mat-chip-list>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput
           required
           type="date"
           placeholder="Add date"
           [(ngModel)]="reminder.date"
           [ngModelOptions]="{standalone: true}"
    />
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput
           required
           type="time"
           placeholder="Add time"
           [(ngModel)]="reminder.time"
           [ngModelOptions]="{standalone: true}"
    />
  </mat-form-field>
</form>

<div mat-dialog-actions>
  <button mat-button (click)="create()">CREATE</button>
  <button mat-button (click)="cancel()">CANCEL</button>
</div>
