<mat-toolbar class="fixed-header" color="primary">
  <span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDialog()">
        <mat-icon>add</mat-icon>
        <span>Create new reminder</span>
      </button>
      <a mat-menu-item href="https://github.com/rdmitrij/simple-reminder/tree/develop" target="_blank">
        <mat-icon>
          <i class="fa fa-github" aria-hidden="true"></i>
        </mat-icon>
        <span>Project on GitHub</span>
      </a>
    </mat-menu>
  </span>
  <h3>SIMPLE REMINDER</h3>
</mat-toolbar>
