<mat-toolbar color="primary">
  <span>
    <button
      mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDialog()">
        <mat-icon>add</mat-icon>
        <span>Create new reminder</span>
      </button>
      <a mat-menu-item href="https://github.com/rdmitrij/simple-reminder" target="_blank">
        <mat-icon>add</mat-icon>
        <span>GitHub</span>
      </a>
    </mat-menu>
  </span>

  <span class="fill-remaining-space">
    <button mat-button>SIMPLE REMINDER</button>
  </span>
</mat-toolbar>
